[submodule "infrared/Flipper-IRDB"]
	path = infrared/Flipper-IRDB
	url = https://github.com/Lucaslhm/Flipper-IRDB.git
[submodule "apps/flipper-application-catalog"]
	path = apps/flipper-application-catalog
	url = https://github.com/flipperdevices/flipper-application-catalog.git
[submodule "resources/awesome-flipperzero"]
	path = resources/awesome-flipperzero
	url = https://github.com/djsime1/awesome-flipperzero.git
[submodule "firmware/flipperzero-firmware"]
	path = firmware/flipperzero-firmware
	url = https://github.com/flipperdevices/flipperzero-firmware.git
[submodule "firmware/Momentum-Firmware"]
	path = firmware/Momentum-Firmware
	url = https://github.com/Next-Flip/Momentum-Firmware.git
[submodule "hardware/esp32/esp32-marauder"]
	path = hardware/esp32/esp32-marauder
	url = https://github.com/justcallmekoko/ESP32Marauder.git
[submodule "hardware/esp32/flipper-zero-evil-portal"]
	path = hardware/esp32/flipper-zero-evil-portal
	url = https://github.com/bigbrodude6119/flipper-zero-evil-portal.git
[submodule "resources/UberGuidoZ-Flipper"]
	path = resources/UberGuidoZ-Flipper
	url = https://github.com/UberGuidoZ/Flipper.git
